fabric_projects/pl_test.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "SELECT *\r\nFROM [dbo].[vw_WorkflowDefinitions]\r\nWHERE [workflow_name] = 'tickit_data_pipeline'\r\n    AND workflow_enable = 1\r\n    AND transform_enable = 1;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "v_WorkflowDetails"
            },
            "schema": [],
            "connectionSettings": {
              "name": "Configurations",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get workflow details",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(activity('Get workflow details').output.count, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_CreateWorkflowOperations @workflow_id, @batch_id, @caller",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "workflow_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('workflow_id')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "batch_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('batch_id')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "caller",
                        "type": "String",
                        "value": {
                          "value": "@pipeline().parameters.p_run_by",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Workflow Operation",
              "description": "Create Workflow Operation",
              "dependsOn": [
                {
                  "activity": "Set Workflow id variable",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "WID",
                "value": {
                  "value": "@activity('Create Workflow Operation').output.resultSets[0].rows[0].WID",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set WPD variable",
              "dependsOn": [
                {
                  "activity": "Create Workflow Operation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "workflow_id",
                "value": {
                  "value": "@activity('Get workflow details').output.value[0].workflow_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Workflow id variable",
              "dependsOn": [
                {
                  "activity": "Set Batch id variable",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "batch_id",
                "value": {
                  "value": "@activity('Create Batch').output.resultSets[0].rows[0].batch_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Batch id variable",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXECUTE [dbo].[sp_FindAndCreateBatch] ",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Batch",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "transforms",
                "value": {
                  "value": "@activity('Get workflow details').output.value",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set transformations",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "src_id",
                "value": {
                  "value": "@activity('Get workflow details').output.value[0].src_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set src_id",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Fail",
              "typeProperties": {
                "message": "No enabled workflows or transformations found. Nothing to execute.",
                "errorCode": "WF001"
              },
              "name": "Workflow error message",
              "dependsOn": []
            }
          ]
        },
        "name": "Create Batch and workflowoperations",
        "description": "",
        "dependsOn": [
          {
            "activity": "Get workflow details",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get or create Bronze runs').output.resultSets[0].rows",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@equals(variables('pipeline_failed'), true)",
                  "type": "Expression"
                },
                "ifTrueActivities": [],
                "ifFalseActivities": [
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "UPDATE dbo.Bronze_runs\r\nSET status = 'RUNNING'\r\n    ,start_time = GETDATE()\r\n    ,end_time = NULL\r\nWHERE bronze_run_id = @bronze_run_id;",
                            "type": "Expression"
                          },
                          "type": "Query",
                          "parameters": [
                            {
                              "name": "bronze_run_id",
                              "type": "Int64",
                              "value": {
                                "value": "@item().bronze_run_id",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            }
                          ]
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "connectionSettings": {
                      "name": "Configurations",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update Bronze run status",
                    "dependsOn": []
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "UPDATE dbo.Bronze_runs\nSET status = 'COMPLETED'\n    ,end_time = GETDATE()\n    ,rows_ingested = @no_record\nWHERE bronze_run_id = @bronze_run_id;",
                            "type": "Expression"
                          },
                          "type": "Query",
                          "parameters": [
                            {
                              "name": "bronze_run_id",
                              "type": "Int64",
                              "value": {
                                "value": "@item().bronze_run_id",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            },
                            {
                              "name": "no_record",
                              "type": "Int64",
                              "value": {
                                "value": "@activity('Update Watermark').output.resultSets[0].rows[0].no_record",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            }
                          ]
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "connectionSettings": {
                      "name": "Configurations",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update Bronze run completed",
                    "dependsOn": [
                      {
                        "activity": "Update Watermark",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "UPDATE dbo.Bronze_runs\n\nSET status = 'FAILED'\n\n    ,end_time = GETDATE()\n\nWHERE bronze_run_id = @bronze_run_id;",
                            "type": "Expression"
                          },
                          "type": "Query",
                          "parameters": [
                            {
                              "name": "bronze_run_id",
                              "type": "Int64",
                              "value": {
                                "value": "@item().bronze_run_id",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            }
                          ]
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "connectionSettings": {
                      "name": "Configurations",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update Bronze run failed",
                    "dependsOn": [
                      {
                        "activity": "Ingest data SRC2Bronze",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Fail",
                    "typeProperties": {
                      "message": {
                        "value": "@activity('Ingest data SRC2Bronze').error.message",
                        "type": "Expression"
                      },
                      "errorCode": {
                        "value": "@concat('SRC2Bronze-', item().object_name)",
                        "type": "Expression"
                      }
                    },
                    "name": "raise error",
                    "dependsOn": [
                      {
                        "activity": "Update Bronze run failed",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "AppendVariable",
                    "typeProperties": {
                      "variableName": "pipeline_errors",
                      "value": {
                        "value": "@json(concat(\n  '{',\n    '\"type\":\"TRANSFORM\",',\n    '\"TID\":',variables('TID'),',',\n    '\"WID\":',variables('WID'),',',\n    '\"message\":\"',activity('Ingest data SRC2Bronze').error.message,'\"',\n  '}'\n))",
                        "type": "Expression"
                      }
                    },
                    "name": "Append Errors",
                    "dependsOn": [
                      {
                        "activity": "Ingest data SRC2Bronze",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "pipeline_failed",
                      "value": {
                        "value": "@bool(true)",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Set pipeline_failed",
                    "dependsOn": [
                      {
                        "activity": "Ingest data SRC2Bronze",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                          "value": "@item().query__",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                          "type": "AzureSqlTable",
                          "typeProperties": {
                            "database": "Tickit"
                          },
                          "schema": [],
                          "externalReferences": {
                            "connection": "0945967e-aee4-4a69-8787-b93d0d9e4ec0"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "FabricSqlDatabaseSink",
                        "sqlWriterStoredProcedureName": {
                          "value": "@concat('bronze.sp_IngestData_',item().object_name)",
                          "type": "Expression"
                        },
                        "sqlWriterTableType": {
                          "value": "@concat('bronze.',item().object_name,'TableType')",
                          "type": "Expression"
                        },
                        "storedProcedureParameters": {
                          "bronze_run_id ": {
                            "type": "Int64",
                            "value": {
                              "value": "@item().bronze_run_id",
                              "type": "Expression"
                            }
                          }
                        },
                        "storedProcedureTableTypeParameterName": "data",
                        "datasetSettings": {
                          "type": "FabricSqlDatabaseTable",
                          "typeProperties": {
                            "schema": "bronze",
                            "table": "table_name"
                          },
                          "schema": [],
                          "connectionSettings": {
                            "name": "Configurations",
                            "properties": {
                              "type": "FabricSqlDatabase",
                              "typeProperties": {
                                "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                                "workspaceId": "00000000-0000-0000-0000-000000000000"
                              },
                              "externalReferences": {
                                "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Ingest data SRC2Bronze",
                    "dependsOn": [
                      {
                        "activity": "Update Bronze run status",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "EXEC dbo.sp_update_watermark_value @table, @bronze_run_id, @src_obj_id",
                            "type": "Expression"
                          },
                          "type": "Query",
                          "parameters": [
                            {
                              "name": "table",
                              "type": "String",
                              "value": {
                                "value": "@item().object_name",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            },
                            {
                              "name": "bronze_run_id",
                              "type": "Int64",
                              "value": {
                                "value": "@item().bronze_run_id",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            },
                            {
                              "name": "src_obj_id",
                              "type": "Int64",
                              "value": {
                                "value": "@item().src_obj_id",
                                "type": "Expression"
                              },
                              "direction": "Input"
                            }
                          ]
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "connectionSettings": {
                      "name": "Configurations",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update Watermark",
                    "dependsOn": [
                      {
                        "activity": "Ingest data SRC2Bronze",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ]
              },
              "name": "If any ingestion failed",
              "dependsOn": []
            }
          ]
        },
        "name": "Ingest SRC2Bronze",
        "dependsOn": [
          {
            "activity": "Get or create Bronze runs",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "EXEC dbo.sp_GetOrCreateBronzeRuns @batch_id, @src_id",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "batch_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                },
                {
                  "name": "src_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('src_id')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get or create Bronze runs",
        "dependsOn": [
          {
            "activity": "Set TID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "EXEC dbo.sp_CreateTransformationOperation @WID, @transform_id",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "WID",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                },
                {
                  "name": "transform_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('transforms')[0]['transform_id']",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SRC2Bronze Transform creation",
        "description": "Transformation for Source to Bronze",
        "dependsOn": [
          {
            "activity": "Create Batch and workflowoperations",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "EXEC dbo.sp_UpdateFailedStatus @messages",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "messages",
                  "type": "String",
                  "value": {
                    "value": "@string(variables('pipeline_errors'))",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update transform_WF failed",
        "dependsOn": [
          {
            "activity": "Ingest SRC2Bronze",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TID",
          "value": {
            "value": "@int(activity('SRC2Bronze Transform creation').output.resultSets[0].rows[0].TID)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set TID",
        "dependsOn": [
          {
            "activity": "SRC2Bronze Transform creation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.batches\r\nSET status = 'SUCCESS'\r\n    ,end_time = GETDATE()\r\nWHERE batch_id = @batch_id",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "batch_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update batch success",
        "dependsOn": [
          {
            "activity": "Ingest SRC2Bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.batches\r\nSET status = 'FAILED'\r\n    ,end_time = GETDATE()\r\nWHERE batch_id = @batch_id",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "batch_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update batch failed",
        "dependsOn": [
          {
            "activity": "Ingest SRC2Bronze",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.TransformationOperations\r\nSET status = 'SUCCESS'\r\n    ,end_time = GETDATE()\r\nWHERE TID = @TID;\r\n",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "TID",
                  "type": "Int16",
                  "value": {
                    "value": "@variables('TID')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "update Trans success",
        "dependsOn": [
          {
            "activity": "Update batch success",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.WorkflowOperations\nSET status = 'SUCCESS'\n    ,end_time = GETDATE()\nWHERE WID = @WID;",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "WID",
                  "type": "Int16",
                  "value": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "update wf success",
        "dependsOn": [
          {
            "activity": "update Trans success",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_run_by": {
        "type": "string",
        "defaultValue": "manual by tan"
      }
    },
    "variables": {
      "workflow_id": {
        "type": "Integer"
      },
      "WID": {
        "type": "String"
      },
      "batch_id": {
        "type": "Integer"
      },
      "transforms": {
        "type": "Array"
      },
      "src_id": {
        "type": "Integer"
      },
      "TID": {
        "type": "Integer"
      },
      "pipeline_failed": {
        "type": "Boolean"
      },
      "pipeline_errors": {
        "type": "Array"
      }
    }
  }
}