fabric_projects/pipeline1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "p_batch_id": 6,
            "p_src_id": "1",
            "p_TID": "1",
            "p_WID": "1"
          },
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "d6432940-4d5d-b3a4-46b8-a01de5b2505b",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Invoke pipeline1",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "errors",
          "value": {
            "value": "@activity('Invoke pipeline1').output.properties.returnValue.pipeline_value_return",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": [
          {
            "activity": "Invoke pipeline1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "is_failed",
          "value": {
            "value": "@equals(variables('errors')[0].status, 'FAILED')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable2",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "errors": {
        "type": "Array"
      },
      "is_failed": {
        "type": "Boolean"
      }
    }
  }
}