fabric_projects/Workflows/WF_ingest_tickit_to_warehouse/WF_ingest_tickit_to_warehouse.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "SELECT *\r\nFROM [dbo].[vw_WorkflowDefinitions]\r\nWHERE [workflow_name] = 'tickit_data_pipeline'\r\n    AND workflow_enable = 1\r\n    AND transform_enable = 1;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "v_WorkflowDetails"
            },
            "schema": [],
            "connectionSettings": {
              "name": "Configurations",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get workflow details",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(activity('Get workflow details').output.count, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_CreateWorkflowOperations @workflow_id, @batch_id, @caller",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "workflow_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('workflow_id')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "batch_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('batch_id')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "caller",
                        "type": "String",
                        "value": {
                          "value": "@pipeline().parameters.p_run_by",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Workflow Operation",
              "description": "Create Workflow Operation",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "WID",
                "value": {
                  "value": "@activity('Create Workflow Operation').output.resultSets[0].rows[0].WID",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set WPD variable",
              "dependsOn": [
                {
                  "activity": "Create Workflow Operation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "workflow_id",
                "value": {
                  "value": "@activity('Get workflow details').output.value[0].workflow_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Workflow id variable",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "batch_id",
                "value": {
                  "value": "@activity('Create Batch').output.resultSets[0].rows[0].batch_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Batch id variable",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXECUTE [dbo].[sp_FindAndCreateBatch] ",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Batch",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "src_id",
                "value": {
                  "value": "@activity('Get workflow details').output.value[0].src_id",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set src_id",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Filter",
              "typeProperties": {
                "items": {
                  "value": "@activity('Get workflow details').output.value",
                  "type": "Expression"
                },
                "condition": {
                  "value": "@and(equals(item().step_order, 1), equals(item().transform_enable, true))",
                  "type": "Expression"
                }
              },
              "name": "Get SRC2Bronze transformation",
              "description": "Since the SRC2Bronze transformation will be ordered in step 1, the conditions will be:\n- transform_enable = True\n- step_order = 1",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "SRC2Bronze_transform",
                "value": {
                  "value": "@activity('Get SRC2Bronze transformation').output.Value",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set SRC2Bzone variable",
              "dependsOn": [
                {
                  "activity": "Get SRC2Bronze transformation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Filter",
              "typeProperties": {
                "items": {
                  "value": "@activity('Get workflow details').output.value",
                  "type": "Expression"
                },
                "condition": {
                  "value": "@and(equals(item().step_order, 2), equals(item().transform_enable, true))",
                  "type": "Expression"
                }
              },
              "name": "Get Bronze2Silver transformation",
              "description": "Since the Bronze2Silver transformation will be ordered in step 2, the conditions will be:\n- transform_enable = True\n- step_order = 2",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "Bronze2Silver_transform",
                "value": {
                  "value": "@activity('Get Bronze2Silver transformation').output.Value",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Bronze2Silver variable",
              "dependsOn": [
                {
                  "activity": "Get Bronze2Silver transformation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Filter",
              "typeProperties": {
                "items": {
                  "value": "@activity('Get workflow details').output.value",
                  "type": "Expression"
                },
                "condition": {
                  "value": "@and(equals(item().step_order, 3), equals(item().transform_enable, true))",
                  "type": "Expression"
                }
              },
              "name": "Get Silver2Gold transformation",
              "description": "Since the SRC2Bronze transformation will be ordered in step 3, the conditions will be:\n- transform_enable = True\n- step_order = 3",
              "dependsOn": [
                {
                  "activity": "Create Batch",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "Silver2Gold_transform",
                "value": {
                  "value": "@activity('Get Silver2Gold transformation').output.Value",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set Silver2Gold variable",
              "dependsOn": [
                {
                  "activity": "Get Silver2Gold transformation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Fail",
              "typeProperties": {
                "message": "No enabled workflows or transformations found. Nothing to execute.",
                "errorCode": "WF001"
              },
              "name": "Workflow error message",
              "dependsOn": []
            }
          ]
        },
        "name": "Create Batch and workflowoperations",
        "description": "",
        "dependsOn": [
          {
            "activity": "Get workflow details",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.batches\r\nSET status = 'SUCCESS'\r\n    ,end_time = GETDATE()\r\nWHERE batch_id = @batch_id",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "batch_id",
                  "type": "Int64",
                  "value": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update batch success",
        "dependsOn": [
          {
            "activity": "If Silver2Gold is enable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE dbo.WorkflowOperations\nSET status = 'SUCCESS'\n    ,end_time = GETDATE()\nWHERE WID = @WID;",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "WID",
                  "type": "Int16",
                  "value": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "connectionSettings": {
          "name": "Configurations",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "update wf success",
        "dependsOn": [
          {
            "activity": "Update batch success",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greaterOrEquals(length(variables('SRC2Bronze_transform')), 1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_CreateTransformationOperation @WID, @transform_id",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "transform_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('SRC2Bronze_transform')[0]['transform_id']",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SRC2Bronze Transform creation",
              "description": "Transformation for Source to Bronze",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "TID",
                "value": {
                  "value": "@int(activity('SRC2Bronze Transform creation').output.resultSets[0].rows[0].TID)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set TID",
              "dependsOn": [
                {
                  "activity": "SRC2Bronze Transform creation",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "p_batch_id": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "p_src_id": {
                    "value": "@variables('src_id')",
                    "type": "Expression"
                  },
                  "p_TID": {
                    "value": "@variables('TID')",
                    "type": "Expression"
                  },
                  "p_WID": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "d6432940-4d5d-b3a4-46b8-a01de5b2505b",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Trans SRC to Bronze",
              "dependsOn": [
                {
                  "activity": "Set TID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_UpdateFailedStatusOperations @TID,\r\n                                        @WID,\r\n                                        @Message",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "TID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('TID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "Message",
                        "type": "String",
                        "value": {
                          "value": "@activity('Trans SRC to Bronze').output.failureReason.message",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Source to Bronze failed unexpectedly",
              "description": "",
              "dependsOn": [
                {
                  "activity": "Trans SRC to Bronze",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "p_messages": {
                    "value": "@activity('Trans SRC to Bronze').output.properties.returnValue.pipeline_value_return",
                    "type": "Expression"
                  },
                  "p_TID": {
                    "value": "@variables('TID')",
                    "type": "Expression"
                  },
                  "p_WID": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "p_batch": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "ed8a1c8e-503f-b6f4-4f72-7e196d9285fb",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check error - SRC2Bronze",
              "dependsOn": [
                {
                  "activity": "Trans SRC to Bronze",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If SRC2Bronze is enable",
        "dependsOn": [
          {
            "activity": "Create Batch and workflowoperations",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greaterOrEquals(length(variables('Bronze2Silver_transform')), 1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_CreateTransformationOperation @WID, @transform_id",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "transform_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('Bronze2Silver_transform')[0]['transform_id']",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Transform Bronze to Silver",
              "description": "Create Transform Bronze to Silver",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "TID",
                "value": {
                  "value": "@int(activity('Create Transform Bronze to Silver').output.resultSets[0].rows[0].TID)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set TID bronze to silver",
              "dependsOn": [
                {
                  "activity": "Create Transform Bronze to Silver",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "p_batch_id": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  },
                  "p_WID": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "p_TID": {
                    "value": "@variables('TID')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "1fee024d-0dff-96ae-482c-95595727aff5",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Trans bronze to silver",
              "dependsOn": [
                {
                  "activity": "Set TID bronze to silver",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_UpdateFailedStatusOperations @TID,\r\n                                        @WID,\r\n                                        @Message",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "TID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('TID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "Message",
                        "type": "String",
                        "value": {
                          "value": "@activity('Trans bronze to silver').output.failureReason.message",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Bronze to Silver failed unexpectedly",
              "description": "",
              "dependsOn": [
                {
                  "activity": "Trans bronze to silver",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "p_messages": {
                    "value": "@activity('Trans bronze to silver').output.properties.returnValue.pipeline_value_return",
                    "type": "Expression"
                  },
                  "p_TID": {
                    "value": "@variables('TID')",
                    "type": "Expression"
                  },
                  "p_WID": {
                    "value": "@variables('WID')",
                    "type": "Expression"
                  },
                  "p_batch": {
                    "value": "@variables('batch_id')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "ed8a1c8e-503f-b6f4-4f72-7e196d9285fb",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check error - Bronze2Silver",
              "dependsOn": [
                {
                  "activity": "Trans bronze to silver",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Bronze2Silver is enable",
        "dependsOn": [
          {
            "activity": "If SRC2Bronze is enable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greaterOrEquals(length(variables('Silver2Gold_transform')), 1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_CreateTransformationOperation @WID, @transform_id",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "transform_id",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('Silver2Gold_transform')[0]['transform_id']",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Transform Silver to Gold",
              "description": "",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "TID",
                "value": {
                  "value": "@int(activity('Create Transform Silver to Gold').output.resultSets[0].rows[0].TID)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set TID Silver to Gold",
              "dependsOn": [
                {
                  "activity": "Create Transform Silver to Gold",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {},
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "7f4b54c3-3a66-ad83-4120-49b8ad0f5af8",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "4cf81c31-cd11-429e-87a5-ca6fcf9e2c80"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Trans Silver to Gold",
              "dependsOn": [
                {
                  "activity": "Set TID Silver to Gold",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "EXEC dbo.sp_UpdateFailedStatusOperations @TID,\r\n                                        @WID,\r\n                                        @Message",
                      "type": "Expression"
                    },
                    "type": "Query",
                    "parameters": [
                      {
                        "name": "TID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('TID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "WID",
                        "type": "Int64",
                        "value": {
                          "value": "@variables('WID')",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      },
                      {
                        "name": "Message",
                        "type": "String",
                        "value": {
                          "value": "@activity('Trans Silver to Gold').output.failureReason.message",
                          "type": "Expression"
                        },
                        "direction": "Input"
                      }
                    ]
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "Configurations",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "e5996580-aabb-9583-497e-ca8845c568be",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "d89a2a4b-b880-4b3e-8309-0fb2196c64bc"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Silver to Gold failed unexpectedly",
              "description": "",
              "dependsOn": [
                {
                  "activity": "Trans Silver to Gold",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Silver2Gold is enable",
        "dependsOn": [
          {
            "activity": "If Bronze2Silver is enable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_run_by": {
        "type": "string",
        "defaultValue": "manual by tan"
      }
    },
    "variables": {
      "workflow_id": {
        "type": "Integer"
      },
      "WID": {
        "type": "String"
      },
      "batch_id": {
        "type": "Integer"
      },
      "transforms": {
        "type": "Array"
      },
      "src_id": {
        "type": "Integer"
      },
      "TID": {
        "type": "Integer"
      },
      "pipeline_failed": {
        "type": "Boolean"
      },
      "pipeline_messages": {
        "type": "Array"
      },
      "SRC2Bronze_transform": {
        "type": "Array"
      },
      "Bronze2Silver_transform": {
        "type": "Array"
      },
      "Silver2Gold_transform": {
        "type": "Array"
      }
    }
  }
}